.banner_background{
    background-image: url("../assets/feedback-banner.jpg");
}

.white_background{
    background-color: #ffffff;
}

.white_textcolor{
    color: #ffffff;
}

.loginform{
    background-color: #03a8f3;
    box-shadow: 0px 5px 10px grey;
}

.loginform_input_skin{
    border-bottom: 1px solid #828384;
	outline: none;
}

.loginform_button_skin{
    font-size: 15px;
    color: #ffffff;
	background-color: #03a8f3;
	box-shadow: 0px 5px 10px grey;
}

.loginpage_image{
	width: 450px;
	height: 400px;
}

.body_secondary_background{
	background-color: #EFEEEC;
}

.footer_background{
    background-color: #DFDFDF;
}